﻿@{
    ViewBag.Title = "Home Page";

    var user = ViewData["selectedUser"] as PincardsServer.Persistency.User;
    var card = ViewData["selectedCard"] as PincardsServer.Persistency.Card;
    var cardInfo = ViewData["cardInfo"] as ICollection<PincardsServer.Persistency.CardInfo>;
}

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/Home/Index.css">
    <script type="text/javascript" src="/Scripts/Site.js"></script>
}

<div class="mainContainer">
    <div>
        <div class="searchBar">
            <h5>User</h5>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.DropDownList("users", null, new { @onchange = "this.form.submit();", @class = "selectList" })
            }
        </div>
        <div class="searchBar">
            <h5>Card</h5>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.DropDownList("cards", null, new { @onchange = "this.form.submit();", @class = "selectList" })
            }
        </div>
        <div class="searchBar leftMargin">
            <h5>Suche</h5>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.DropDownList("searchtype", new List<SelectListItem>{
                    new SelectListItem
                    {
                        Text = "User",
                        Value = "User"
                    },
                    new SelectListItem
                    {
                        Text = "Card",
                        Value = "Card"
                    }
                }, new { @class = "selectList" });

                @Html.TextBox("searchtext", "", new { @class = "searchBox" })
            }
        </div>

        <div>
            @if (user != null)
            {
                @Html.ActionLink("Card hinzufügen", "Create", "Card", new { userId = user.idUserID }, null);
            }
            else
            {
                @Html.ActionLink("Card hinzufügen", "Create", "Card");
            }
        </div>
    </div>

    @if (ViewBag.UserSearchResult != null)
    {
        <h4>Suchergebnisse:</h4>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>E-Mail</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th></th>
            </tr>
            @foreach (var foundUser in ViewBag.UserSearchResult)
            {
                <tr>
                    <td>@foundUser.idUserID</td>
                    <td>@foundUser.sMail</td>
                    <td>@foundUser.sFirstName</td>
                    <td>@foundUser.sLastName</td>
                    <td>@Html.ActionLink("Auswählen", "Index", new { users = foundUser.idUserID })</td>
                </tr>
            }
        </table>
        <a href="javascript:history.go(-1)">Zurück</a>
    }
    else if (ViewBag.CardInfoSearchResult != null)
    {
        <h4>Suchergebnisse:</h4>
        <table class="table">
            <tr>
                <th>CardId</th>
                <th>Schlüssel</th>
                <th>Wert</th>
                <th>Type</th>
                <th></th>
            </tr>

            @foreach (var foundInfo in ViewBag.CardInfoSearchResult)
            {
                <tr>
                    <td>@foundInfo.idCardID</td>
                    <td>@foundInfo.Key</td>
                    <td>@foundInfo.Value</td>
                    <td>@foundInfo.Type</td>
                    <td>@Html.ActionLink("Auswählen", "Index", new { cards = foundInfo.idCardID })</td>
                </tr>
            }
        </table>
        <a href="javascript:history.go(-1)">Zurück</a>
    }
    else
    {
        <div class="topMargin">

            @if (card != null)
            {
                <div class="infoLeft">
                    @card.User.sMail - Card: <b>@card.idCardID</b>
                </div>
                <div class="infoRight">
                    @Html.ActionLink("Bearbeiten", "Edit", "Card", new { id = card.idCardID }, null) |
                    @Html.ActionLink("Löschen", "Delete", "Card", new { id = card.idCardID }, null)
                </div>

                <hr />

                <div class="allImages">
                    <div class="imageDiv">
                        <h5>Card Picture</h5>
                        <img alt="Kein Bild gefunden." class="image" src="@card.sCardPictureUrl" />
                    </div>
                    <div class="imageDiv">
                        <h5>Main Picture</h5>
                        <img alt="Kein Bild gefunden." class="image" src="@card.sMainPictureUrl" />
                    </div>
                    <div class="imageDiv">
                        <h5>Wall Picture</h5>
                        <img alt="Kein Bild gefunden." class="image" src="@card.sWallPictureUrl" />
                    </div>
                </div>

                <div id="addInfoDiv">
                    @Html.ActionLink("Info hinzufügen", "Create", "CardInfo", new { cardId = card.idCardID }, null)
                </div>
            }

            <table class="table">
                <tr class="headerRow">
                    <th>Position</th>
                    <th>Schlüssel</th>
                    <th>Wert</th>
                    <th>Typ</th>
                    <th></th>
                </tr>

                @if (cardInfo != null && cardInfo.Count() > 0)
                {
                    foreach (var info in cardInfo)
                    {
                        <tr>
                            @using (Html.BeginForm("Edit", "CardInfo"))
                            {
                                @Html.AntiForgeryToken()
                                <td>
                                    @info.iPosition | @Html.ActionLink("▲", "Move", "CardInfo", new { id = info.idCardInfoID, direction = "up" }, null)
                                    @Html.ActionLink("▼", "Move", "CardInfo", new { id = info.idCardInfoID, direction = "down" }, null)
                                </td>
                                <td>@Html.TextBox("Key", @info.Key, new { @class = "myTextBox", @onkeydown = "beginEdit(this);" })</td>
                                <td>@Html.TextBox("Value", @info.Value, new { @class = "myTextBox", @onkeydown = "beginEdit(this);" })</td>
                                <td>@Html.TextBox("Type", @info.Type, new { @class = "myTextBox", @onkeydown = "beginEdit(this);" })</td>
                                <td>
                                    @Html.Hidden("idCardInfoID", @info.idCardInfoID)
                                    <input type="submit" value="Speichern" class="submitLink" />|
                                    @Html.ActionLink("Löschen", "Delete", "CardInfo", new { id = info.idCardInfoID }, null)
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Keine Daten vorhanden.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </table>

        </div>
    }
</div>