﻿@model PincardsServer.Persistency.Card

@{
    ViewBag.Title = "Create";
}

<h2>Erstellen</h2>

@using (Html.BeginForm("Create", "Card", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Card</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idUserID, "User", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUserID", String.Empty)
                @Html.ValidationMessageFor(model => model.idUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sCardPictureUrl, "Card Picture", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="cardPicture" name="cardPicture" accept="image/png" class='input' />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sMainPictureUrl, "Main Picture", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="mainPicture" name="mainPicture" accept="image/png" class='input' />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sWallPictureUrl, "Wall Picture", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="wallPicture" name="wallPicture" accept="image/png" class='input' />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:history.go(-1)">Zurück zur Übersicht</a>
</div>
