﻿@model PincardsServer.Persistency.Card

@{
    ViewBag.Title = "Delete";
}

<style type="text/css">
    .deleteImage {
        max-width: 100%;
        max-height: 100px;
    }
</style>

<h2>Löschen</h2>

<h3>Wollen Sie diese Karte wirklich löschen?</h3>
<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Wall Picture")
        </dt>

        <dd>
            <img src="@Model.sWallPictureUrl" alt="Kein Bild gefunden." class="deleteImage" />
        </dd>

        <dt>
            @Html.DisplayName("Card Picture")
        </dt>

        <dd>
            <img src="@Model.sCardPictureUrl" alt="Kein Bild gefunden." class="deleteImage" />
        </dd>

        <dt>
            @Html.DisplayName("Main Picture")
        </dt>

        <dd>
            <img src="@Model.sMainPictureUrl" alt="Kein Bild gefunden." class="deleteImage" />
        </dd>

        <dt>
            @Html.DisplayName("User")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.sMail)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <td>Schlüssel</td>
            <td>Wert</td>
            <td>Type</td>
        </tr>

        @if (Model.CardInfo.Count > 0)
        {
            foreach (var info in Model.CardInfo)
            {
                <tr>
                    <td>@info.Key</td>
                    <td>@info.Value</td>
                    <td>@info.Type</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Keine Daten vorhanden.</td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            <a href="javascript:history.go(-1)">Zurück zur Übersicht</a>
        </div>
    }
</div>
